<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="<%= image_path "icons/apple-icon-152x152.png", digest: false %>">
    <link rel="manifest" href="/manifest.json">
    <title>MapMap</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body data-controller='filters'>
    <nav id="menu">
      <header>
        <h2>Menu</h2>
      </header>
      <section>
        <%= form_tag(root_path, method: :get, remote: true, data: { target: 'filters.form' }) do %>
          <h6>Tags</h6>
          <% Place.tag_counts.pluck(:name).each do |ta| %>
            <div class="form-group form-check">
              <%= check_box_tag "filters[#{ta.downcase}]", ta, params[:filters]&.include?(ta), class: "form-check-input", name: 'filters[]', data: { action: 'filters#handleChange' } %>
              <%= label_tag "filters_#{ta.downcase}", ta, class: "form-check-label" %>
            </div>
          <% end %>
          <h6>Locations</h6>
          <% Place.location_counts.pluck(:name).each do |lo| %>
            <div class="form-group form-check">
              <%= check_box_tag "locations[#{lo.downcase}]", lo, params[:locations]&.include?(lo), class: "form-check-input", name: 'locations[]', data: { action: 'filters#handleChange' }  %>
              <%= label_tag "locations_#{lo.downcase}", lo, class: "form-check-label" %>
            </div>
          <% end %>
          <%= submit_tag 'Filter' %>
        <% end -%>
      </section>
    </nav>

    <main id="panel">
      <header>
        <div class="header-button">
          <button class="toggle-button">☰</button>
        </div>
        <div class="header-search">
          <%= form_tag("/", {:class => "form"}) do %>
            <%= text_field_tag :q %>
          <% end -%>
        </div>
      </header>
      <section>
        <%= yield %>
      </section>
    </main>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
